<html lang="zh">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="D:\workspace\TestJavaweb\css\cssTest.css">
</head>
<body>
	<!-- ID选择器 -->
	<div id = 'testID'>
		<p>
			www.taobo.com
		</p>
		<P>
			<!-- <a> 标签 超链接  显示下下斜线-->
			<a href="https://www.taobao.com">www.taobao.com</a>
 		</P>
	</div>
	<!-- class 选择器 -->
	<div class="testClass">
		举个例子

	</div>
	<!-- 包选择器  父子选择器  -->
	<div>
		<span>
			<strong>包标签实例</strong>
			span实例
		</span>
		<strong>父子标签实例</strong>
	</div>
	<span>
		父子选择器
	</span>
	<!-- 属性选择器 -->
	<div class="testClassSX">
		属性选择器案例
	</div>
<!-- 组合选择器 -->
	<div id="testIDZH" class="testClassZH">
		组合选择器案例
	</div>

<!-- 伪元素 -->
	<div class="testBA">
		majj
	</div>
<p>
	----------------------------CSS元素 START------------------
</p>

	<div id="idBorder">	
			<p>	border  线框</p>	

	</div>			

<p>
	----------------------------CSS元素 END  ------------------
</p>

</body>
</html>