@CHARSET "UTF-8";


#header{
	height: 50px;
}
#nav{
	height: 500px;
}
#content{
	height: 100px;
}
#footer{
	height: 100px;
}

#nav .ulD  {
    margin-left: 50px;
}

#nav .liD {
	float:left;
    display: inline-block;
    line-height: 30px;
    width:80px;
	margin-left: 30px;
}

#nav .ulDNone  {
	display: none;
}

.navCM{
	color: #8080c0;
	font-weight: bold;
}
.navM{
	color: #ff0000;
}

