*
ID选择器 
font 设置字体格式
**/
#testID{
		font-size: 30px;
		font-weight: bold;
		font-style: oblique;
		font-family: cursive;
		color: #red;
}
/**
class 选择器
border 线框格式
**/
.testClass{
	color:rgb(0,255,255);
	width: 100px;
	height: 100px;
	border: 10px solid black;
}
/**
标签选择器
**/
span{
	background-color: blue;
	font-size: 100px;
}
/**
包含选择器  
父子标签 核心算法  使用冒泡法查询 先找span 再找div
**/
div strong{
	background-color: #005555;
}
/*子选择器*/
div>strong{
	background-color: #f40;
}

/*属性选择器*/
[class="testClassSX"]{
	background-color: blue;
	font-style: 100px;
	font-size: 80px;
	height: 100px;
}
/*组合选择器*/
div#testIDZH.testClassZH{
	background-color: red;
}

/*选择器权重值

！important        正无穷大
行间样式            1000
id                 100
class、属性、伪类     10
标签、伪元素         1
通配符              0
*/

/*border  线框*/
#idBorder{
	color: red;
	width: 100px;
	height: 100px;
	border: 100px solid black;
	border-left-color: red;
	border-right-color: green;
	border-top-color: blue;
}

/*微元素*/
.testBA::after{
	content: " ni hao"
}
.testBA::before{
	content: "ma  "
}
